# Fake News Detection

The main porpose of this model is to use NLP and Machine learning to classify the differrence between fake news and real news. There has been a lot of people that spread fake news in social media and this model is a means to help people know what is real and what is fake.

### Importing libraries

In [1]:
import pandas as pd
import re
import string
import numpy as np

import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df_raw_true = pd.read_csv(r".\database\True.csv", encoding = 'utf-8')

In [3]:
df_raw_true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
df_raw_fake = pd.read_csv(r".\database\Fake.csv", encoding = 'utf-8')

In [5]:
df_raw_fake.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
df_raw_true['label'] = 1                            #1 for real news

In [7]:
df_raw_fake['label'] = 0                             #0 for fake news

In [8]:
df_true = df_raw_true[['text', 'label']]

In [9]:
df_fake = df_raw_fake[['text', 'label']]

In [10]:
df = pd.concat([df_true, df_fake])                #merges both the dataframes

In [11]:
df.sample(5)

                                                    text  label
12856  HARARE (Reuters) - A white Zimbabwean farmer k...      1
20616  DHAKA (Reuters) - Bangladesh has proposed crea...      1
760    WASHINGTON (Reuters) - Members of U.S. congres...      1
7866   PARIS (Reuters) - Europe should challenge the ...      1
14217  MOSCOW/KIEV (Reuters) - Armed men in masks blo...      1

In [12]:
df.shape

(44898, 2)

### Cleaning database

In [13]:
df['text'] = df['text'].str.lower()     #Changing every character to lower case

In [14]:
#Makes a dictionary containing all punctuations with value 0
punct_dict = dict((ord(punct), None) for punct in string.punctuation)

for punc in punct_dict:
    df['text'] = df['text'].replace(punc, ' ')

In [15]:
df.sample(5)

                                                    text  label
16937  beijing (reuters) - chinese officials on thurs...      1
9147   washington (reuters) - donald trump on monday ...      1
6573    (this dec. 27 story corrects to say 55,000 pa...      1
942    washington (reuters) - senate republican leade...      1
18772  washington (reuters) - two u.s. air strikes ki...      1

In [16]:
def extract_words(sentence):
    ignore_words = ['a', 'the', 'if', 'br', 'and', 'of', 'to', 'is']
    words = re.sub("[^\w]", " ",  sentence).split()
    
    words_cleaned = [w.lower() for w in words if w not in ignore_words]
    return words_cleaned

## Training Model

In [17]:
x = df['text']
y = df['label']

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, shuffle = True)         #Splitting the data

In [19]:
vec = TfidfVectorizer(stop_words = 'english')

In [20]:
xv_train = vec.fit_transform(x_train)
xv_test = vec.transform(x_test)

In [21]:
logreg = LogisticRegression()
logreg.fit(xv_train, y_train)

LogisticRegression()

In [22]:
y_pred = logreg.predict(xv_test)

In [23]:
score = accuracy_score(y_pred, y_test)
print(f'Accuracy Score: {score}')

Accuracy Score: 0.9869042316258352

In [24]:
confusion_matrix(y_test, y_pred)

array([[5704,   82],
       [  65, 5374]], dtype=int64)

In [25]:
def news_predictor(news):
    vec_news = vec.transform([news])
    
    pred = logreg.predict(vec_news)
    label = {1:'Real', 0:'Fake'}
    return label[int(pred)]

In [26]:
news_predictor(df_true['text'][0])

'Real'

In [27]:
news_predictor(df_fake['text'][0])

'Fake'

In [28]:
news_predictor("""Several rockets were fired at Kabul's airport Monday, witnesses and security sources said, less than 48 hours before the United States is due to complete its troop withdrawal from Afghanistan.
The sound of rockets whooshing over the capital was heard by AFP staff before the morning rush hour began.

A security official who worked in the administration toppled two weeks ago by the Taliban said the rockets had been fired from a vehicle in north Kabul.

The sound of the airport's missile defence system could be heard by local residents, who also reported shrapnel falling into the street -- suggesting at least one rocket had been intercepted.""")

'Real'